@charset "utf-8";
.clear { clear: both; }
.lh52 { line-height: 52px; }
.w26 { width: 26px; }
.w50 { width: 50px; }
.w80 { width: 80px; }
.w120 { width: 120px; }
.w280 { width: 280px; }
.w300 { width: 300px; }
.h21 { height: 21px; }
.h24 { height: 24px; }
.h30 { height: 30px; }
.h80 { height: 80px; }
.fr { float: right; }
.fl { float: left; }
.fsi { font-style: italic; }
.fs14 { font-size: 14px; }
.c666 { color: #666; }
.cCCC { color: #CCC; }
.cBBB { color: #BBB; }
.c000 { color: #000000; }
.cFF6600 { color: #FF6600; }
.bb1s666 { border-bottom: 1px solid #CCC; }
.bt1sccc { border-top: 1px solid #CCC; }
.mt5 { margin-top: 5px; }
.mt9 { margin-top: 9px; }
.mt15 { margin-top: 15px; }
.mt25 { margin-top: 25px; }
.ml5 { margin-left: 5px; }
.ml15 { margin-left: 15px; }
.ml25 { margin-left: 25px; }
.ml35 { margin-left: 35px; }
.mb10 { margin-bottom: 10px; }
.bc666 { background-color: #666; }
.bold { font-weight: bold; }
.db { display: block; }
.pr { position: relative; }
.pa { position: absolute; }
.cp { cursor: pointer; }