            <div class="l_title">About</div>
            <div class="l_ground">
                这里是 The IVth AyleinOter @舰长大人 的个人博客
            </div>
            <div class="l_title">关于作者</div>
            <div class="l_ground">
                <a href="mailto:shikinami.asuka@foxmail.com" target="_blank">shikinami.asuka@foxmail.com</a><br />
                <a href="https://github.com/Aylein" target="_blank">https://github.com/Aylein</a><br />
                A.O.IV的蘸酱大人 敬上 （不是舰长大人吗 0 0~）
            </div>
            <div class="l_title">关于本站</div>
            <div class="l_ground">
                服务器端基于 php 5.6 / mysql 5.6<br />
                前端基于 grunt / angularjs 1.3<br />
                源码：<a href="https://github.com/Aylein/phpblog" target="_blank">https://github.com/Aylein/phpblog</a>
            </div>
            <div class="l_title">建站日志</div>
            <div class="l_ground">
                规划建设简单 cms 一部分<br />
                规划建设简单 匿名版 一部分<br />
                <br />
                2015年3月16日前尚在建设中<br />
                - 前端单页跳转完成<br />
                - 匿名用户的注册登录完成<br />
                - 顶部分类的添加修改完成<br />
                <br />
                2015年3月17日前尚在建设中<br />
                - 添加了本页 about 为临时主页<br />
                - 首页歌曲换成了 希德尼娅的骑士 OP （星白美如画 0 0~）<br />
                - 添加了用于登陆的 signin 页<br />
                <br />
                2015年3月19日前尚在建设中<br />
                - 登陆页功能完成<br />
                <br />
                2015年3月24日前尚在建设中<br />
                - 重做了编辑器样式<br />
                <br />
                2015年3月30日前尚在龟速建设中<br />
                - 编辑器部分功能的实现 仅支持html5浏览器<br />
                - 表情框的部分样式<br />
                <br />
                2015年4月3日前尚在龟速建设中<br />
                - 编辑器啊。。下划线 字体 颜色 删除线 均不可用<br />
                - 选择表情的弹出层bug<br />
                > 关闭弹出层的事件的 mouseleave 如果不小心打开了弹出层<br />
                > 亲请单击 表情按钮 或 鼠标移动至弹出层再移出关闭<br />
                <br />
                2015年4月18日前尚在建设中<br />
                - 编辑器居然用了这么长的时间<br />
                - 基本的编辑器功能完成 报错 加粗 斜体 插入表情<br /><br />
                - 暂不支持其他功能<br />
                - 仅支持 IE9+ MS浏览器<br />
                <br />
                2015年4月20日
                - 修改了整体框架 现在前端基于 grunt 框架
            </div>
            <br />
            <br />