            <div class="l_title">简历</div>
            <div class="l_ground">
                <div class="res_name">刘森</div>
                <div class="res_info">
                    基本: 1988.02.09 / 男性 / 河南省安阳市人<br />
                    毕业院校: 郑州轻工业学院 / 2008.9 - 2012.9 / 网络工程<br />
                    TEL: 15001019225 / Email: shikinami.asuka@foxmail.com
                </div>
                <div class="clear"></div>
            </div>
            <div class="l_title">技能标准</div>
            <div class="l_ground">
                熟练使用 html + css 样式布局 <br />
                熟悉 html5 css3 新增属性 熟悉 css3 动画 <br />
                熟悉 响应式布局 移动端自适应布局 <br /><br />
                熟悉原生 javascript <br />
                熟练使用 jquery 及基于 jquery 的插件开发和扩展 <br />
                熟悉部分前端 mvvm 框架诸如 angularjs avalon <br />
                熟悉 react 及 flux redux <br />
                了解 nodejs 及其基本应用 <br /><br />
                熟悉 sqlserver mysql oracle 基本使用 数据库设计开发 <br />
                熟练使用 sql语句 及其优化 <br />
                熟悉 存储过程 视图 游标 触发 索引 <br />
                了解 nosql <br /><br />
                熟悉 .Net framework <br />
                熟练使用 .Net MVC WebService WCF WebAPI 框架架构<br />
                熟悉 entity framework <br /><br />
                熟悉 php 和 thinkphp框架 <br />
            </div>
            <div class="l_title">工作经历</div>
            <div class="l_ground">
                2012.4 - 2012.12 / 河南君诺科技有限公司 / 互联网 / 门户网站<br />
                开发 / 技术部 / .net开发<br /><br />
                2013.8 - 2014.12 / 互动安阳信息网 / 互联网 / 门户网站<br />
                开发 / 技术部 / .net开发<br /><br />
                2015.3 - 2015.6 / 上海云翎物联网科技有限公司 / 系统开发 / 硬件与系统集成<br />
                开发 / 物联网事业部 / .net开发<br /><br />
                2015.6 - 2016.2 / 中鼎博华倚天润达科技有限公司 / 互联网 / 移动互联网<br />
                开发 / 技术部 / php开发 移动端 web前端<br /><br />
                2016.2 至今 / 知豆科技智信中心 / 汽车工业 / 车联网<br />
                开发 / 智能信息化部 / .net开发 web前端<br /><br />
            </div>