<div class="l_title">This is the Says page</div>
<div class="says" style="margin-top: 15px;">
    <div class="says_left bc666"></div>
    <div class="says_right">
        <div>
            <div class="say_title">填充 :</div>
            <div class="say_item"><ao-cs model="comment" /></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<br />
<ao-rp ng-repeat="com in list" model="com" repeat="0"></ao-rp>
<div class="ml10"><ao-pg model="pager" ng-show="pager.total > 0"></ao-pg></div>