            <div class="l_title">This is the Says page</div>
            <div class="says" style="margin-top: 15px;">
                <div class="says_left bc666"></div>
                <div class="says_right">
                    <div>
                        <div class="say_title">填充 :</div>
                        <div class="say_item"><ao-cs model="comment" /></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <br />
            <div class="says_pano" ng-repeat="com in list">
                <div class="says_p_left">
                    <div class="says_p_head" style="background: url({{com.user.userimg}}) no-repeat 100%; background-size: 82px;"></div>
                </div>
                <div class="says_p_right">
                    <div>
                        <div class="says_p_hov">
                            <div class="c666"><a href="javascript: void(0);" title="raply" ng-bind="com.user.username"></a> - <span ng-bind="com.comdate"></span></div>
                            <div><input type="text" ng-model="com.comment"></div>
                        </div>
                        <div><test model="com"/></div>
                        <div><ao-cs model="com"></ao-cs></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <br />
            <br />