            <div class="says" style="margin-top: 15px;">
                <div class="says_left bc666"></div>
                <div class="says_right">
                    <div>
                        <div class="say_title">填充 :</div>
                        <div class="say_item">
                            <div class="say_button pr">
                                <input class="say_button_item w26" ng-click="aoSc._bold()" value="B" type="button"/>
                                <input class="say_button_item w26" ng-click="aoSc._italic()" value="I" type="button"/>
                                <!--input class="say_button_item w26" value="__" type="button"/-->
                                <!--div class="say_button_item w26" id="color_type">A</div-->
                                <input class="say_button_item w50" ng-click="aoSc._tango()" value="AcFun" type="button"/>
                                <!--div class="say_button_item w50" ng-click="aoSc._tango()" id="ac_type">AcFun</div-->
                                <div class="says_image" id="sc_ac_img">
                                    <img ng-repeat="o in aoSc.sc_ac" ng-click="aoSc._img(o)" src="{{o}}" alt=""/>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="say_comment" id="sc_content" ng-keydown="aoSc._keydown($event)" contenteditable="true" ng-bind="saiys"></div>
                            <div class="bt1sccc">
                                <div class="say_button_sub fl" id="sub_bt">Send</div>
                                <div class="say_subcoin fl" id="sub_coin">Now Sending</div>
                                <div class="say_button_sub fr" id="can_bt">Clear</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>