                        <div>
                            <div class="say_hidden" ng-show="!aoSc.show" ng-click="aoSc._hide()"><a href="javascript: void(0);">点击回复</a></div>
                            <div class="say_border" ng-show="aoSc.show">
                                <div class="say_button pr">
                                    <input class="say_button_item w26" ng-click="aoSc._bold()" value="B" type="button"/>
                                    <input class="say_button_item w26" ng-click="aoSc._italic()" value="I" type="button"/>
                                    <!--input class="say_button_item w26" value="__" type="button"/-->
                                    <!--div class="say_button_item w26" id="color_type">A</div-->
                                    <input class="say_button_item w50" ng-click="aoSc._tango()" value="AcFun" type="button"/>
                                    <!--div class="say_button_item w50"ng-click="aoSc._tango()" id="ac_type">AcFun</div-->
                                    <div class="says_image" id="sc_ac_img_{{aoSc.key}}">
                                        <img ng-repeat="o in aoSc.sc_ac" ng-click="aoSc._img(o)" ng-src="{{o}}" alt=""/>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="say_comment" ng-keyup="aoSc._keyup($event)" id="sc_content_{{aoSc.key}}" contenteditable="true" ng-model="model.comment"></div>
                                <div class="bt1sccc">
                                    <div class="say_button_sub fl" id="sub_bt_{{aoSc.key}}" ng-click="aoSc._send()">Send</div>
                                    <div class="say_subcoin fl" id="sub_coin_{{aoSc.key}}">Now Sending</div>
                                    <div class="say_button_sub fr" id="can_bt_{{aoSc.key}}" ng-click="aoSc._clear()">Clear</div>
                                    <div class="say_button_sub fr" ng-show="aoSc.showHide" ng-click="aoSc._hide()">Hide</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>