@charset "utf-8";
.pano_left { width: 975px; float: left; min-height: 600px; background-color: #ffffff; }
.pano_right { width: 300px; float: right; height: 600px; }
.pano_right .item { background-color: #ffffff; }
.namespace { height: 100px; }
.imgspace { width: 90px; height: 90px; margin: 5px; float: left; }
.imgspace img { width: 90px; height: 90px; }
.name { width: 190px; height: 90px; margin: 5px; float: right; }
.sign { font-size: 14px; color: #666; margin-top: 5px; }

.says { width: 960px; margin: 0 auto; }
.says_left { width: 50px; height: 250px; float: left; }
.says_right { width: 900px; height: 250px; float: right; }
.say_title { width: 60px; float: left; text-align: right; }
.say_button { height: 30px; border-left: 1px solid #ccc; border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.say_button div { height: 30px; line-height: 30px; width: 80px; text-align: center; border-right: 1px solid #ccc; cursor: pointer; }
.say_item { width: 820px; height: 250px; float: left; margin-left: 15px; }
.say_comment { border: 1px solid #CCC; height: 168px; overflow-y: scroll; word-wrap: break-word; padding: 5px; }

.l_title { width: 950px; height: 30px; margin: 10px auto; font-size: 25px; line-height: 25px; border-bottom: 1px solid #CCC; }
.l_ground { width: 950px; margin-left: 30px; }