@charset "utf-8";
* { margin: 0; text-decoration: none; list-style: none; font-family: "微软雅黑"; outline:none; }
a { color: #666; }
a:hover { color: #000000; }
/*a:visited { color: #666; }*/
html { overflow-y: scroll; }
body { background-color: #F5F5F5; }

.header { width: 100%; height: 40px; background-color: #E7E7E7; border-bottom:1px solid #CCC; position: fixed; top: 0px; _position: abselute; }
.myname { width: 1280px; margin: 0 auto; }
.master { float: left; height: 40px; }
.master img { width: 40px; vertical-align: middle; }
.menu { float: right; height: 40px; }
.topimg { width: 1280px; height: 100px; background-color: #ffffff; margin: 0 auto; margin-top: 45px; }
.bodypano { width: 1280px; margin: 0 auto; margin-top: 5px; }
.footer { height: 250px; background-color: #494949; }
.bigfun { width: 1280px; margin: 0 auto; }
.me { margin: 25px; color: #ffffff; width: 930px; height: 150px; background: url("/images/Kihara_Nayuta.png") -10px -314px no-repeat; }
.about { width: 980px; height: 48px; margin: 0 auto; border-top: 2px solid #ffffff; text-align: center; line-height: 35px; color: #ffffff; }
.face_r { width: 250px; height: 250px; }
.face_r img { width: 250px; vertical-align: middle; }
.audio_main { width: 300px; height: 30px; }