            <div class="myname">
                <div class="master"><img src="/images/master.jpg"/>&nbsp;&nbsp;</div>
                <div class="master lh52" ng-bind="'The 4th AyleinOter@' + sign"></div>
                <div class="menu lh52">
                    <a ng-repeat="type in types" t_id="t_{{type.typeid}}" href="javascript: void(0);" ng-bind="type.typename" class="ml5 {{type.cur == 1 ? 'c000' :'c666'}}"></a>
                </div>
                <div class="clear"></div>
            </div>