            <div class="l_title">This is the Says page</div>
            <div class="says" style="margin-top: 15px;">
                <div class="says_left bc666"></div>
                <div class="says_right">
                    <div>
                        <div class="say_title">填充 :</div>
                        <div class="say_item">
                            <div class="say_button">
                                <div class="say_button_item" id="bold_type" cmd="bold">加粗</div>
                            </div>
                            <div class="say_comment" id="content" contenteditable="true"></div>
                            <div>
                                <input type="submit" value="Send" class="h30 mt9 w80"/>
                                <input type="text" class="h24 mt9 w80"/>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <br />
            <br />